*~
*.o
*.o.d
*.pc
*.lo
*.loT
*.la
*.so
*.swp
*.gcov
*.gcda
*.class
*.classpath
*.a
*.apk
*.ap_
*.example
*.test
*.fodt
*.orig
*.so
*.dex
*.gcno
.deps
.libs
.vs/*
x86/*
x64/*
*.vcxproj.filters
*.vcxproj.user
