stb_image.h
stb_image_write.h
*~
*.o
*.o.d
*.pc
*.lo
*.loT
*.la
*.so
*.swp
*.gcov
*.gcda
*.class
*.classpath
*.a
*.apk
*.ap_
*.example
*.test
*.fodt
*.orig
*.so
*.dex
*.gcno
.deps
.libs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
